#include <dt-bindings/zmk/matrix_transform.h>

// Pinout
#define GPIO_PEDAL 2
#define GPIO_BLUETOOTH 1
#define GPIO_LAYER1 5
#define GPIO_LAYER2 4
#define GPIO_LAYER3 3

#define GPIO_LEDR 8
#define GPIO_LEDG 9
#define GPIO_LEDB 10

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    leds {
        compatible = "gpio-leds";
        ledr: led_r {
            gpios = <&xiao_d GPIO_LEDR GPIO_ACTIVE_HIGH>;
            label = "LED RED";
            status = "okay";
        };
        ledg: led_g {
            gpios = <&xiao_d GPIO_LEDG GPIO_ACTIVE_HIGH>;
            label = "LED GREEN";
            status = "okay";
        };
        ledb: led_b {
            gpios = <&xiao_d GPIO_LEDB GPIO_ACTIVE_HIGH>;
            label = "LED BLUE";
            status = "okay";
        };
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-direct";
        label = "KSCAN0";

        input-gpios = <
            &xiao_d GPIO_PEDAL (GPIO_ACTIVE_LOW | GPIO_PULL_UP) 
            &xiao_d GPIO_BLUETOOTH (GPIO_ACTIVE_LOW | GPIO_PULL_UP)
            &xiao_d GPIO_LAYER1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) 
            &xiao_d GPIO_LAYER2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) 
            &xiao_d GPIO_LAYER3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) 
        >;
    };


    // direct kscan needs a matrix transform, apparently. 
    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <5>;
        columns = <1>;
        map = <
            RC(0,0)
            RC(0,1)
            RC(0,2)
            RC(0,3)
            RC(0,4)
        >;
    };
};
